// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: "Roca";
  src: url("../assets/fonts/RocaOne-Bl.ttf");
}

@font-face {
  font-family: "Otterco";
  src: url("../assets/fonts/OttercoDisplay-Regular.otf");
}
